
.from-left {
    transform: translateX(50%);
    transition: opacity 700ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

.from-left.appear {
    transform: translateX(0);
    opacity: 1;
}

.from-small {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 500ms ease-in, transform 300ms ease-in;
}

.from-small.appear{
    transform: scale(1);
    opacity: 1;
}

.rotate:hover{
    transform: rotate(365deg);
    transition: transform 3s;
}

.install-code {
    .code-box {
        min-height: 0px !important;
        max-width: 600px;
    }
}