
.from-small {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 700ms ease-in, transform 1s ease-in;
}

.from-small.appear{
    transform: scale(1);
    opacity: 1;
}

.from-small.disappear{
    transform: scale(0);
    opacity: 0;
    transition: opacity 600ms ease-in, transform 600ms ease-in;
}

// --- 

.from-left {
    transform: translateX(-50%);
    transition: opacity 1s ease-in, transform 1s ease-in;
    opacity: 0;
}

.from-left.appear{
    transform: translateX(0);
    opacity: 1;
}

.from-left.disappear {
    transform: translateX(-50%);
    transition: opacity 800ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

// --- 

.from-right {
    transform: translateX(120%);
    transition: opacity 1s ease-in, transform 1s ease-in;
    opacity: 0;
}

.from-right.appear{
    transform: translateX(0);
    opacity: 1;
} 

.from-right.disappear {
    transform: translateX(120%);
    transition: opacity 800ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

// --- 

.from-bottom {
    transform: translateY(50%);
    transition: opacity 1s ease-in, transform 1s ease-in;
    opacity: 0;
}

.from-bottom.appear {
    transform: translateY(0);
    opacity: 1;
}

.from-bottom.disappear {
    transform: translateY(50%);
    transition: opacity 800ms ease-in, transform 600ms ease-in;
    opacity: 0;
}