/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #245ec7;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-color-footer: ##a7a7a7;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

a{
  text-decoration: none !important;
}

.table-of-contents__link:hover{
  color: var(--ifm-color-primary);
}

.navbar, .navbar-sidebar__brand{
  background-color: var(--ifm-color-primary) !important;
}

aside div a[class^="sidebarLogo_node_modules"]{
  background-color: var(--ifm-color-primary) !important;

}

aside div a[class^="sidebarLogo_node_modules"] img {
  height: 35px !important;
}

aside div a[tabindex="-1"] {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

aside div a[tabindex="-1"] img {
  height: 45px;
}

.footer{
  background-color: #ededed;
  color: var(--ifm-color-footer);
  padding: 0px;
  display: flex;
  align-items: center;
}

.footer__copyright{
  margin: 15px;
}

.navbar__item {
  color: white !important;
}

.navbar__item:hover {
  opacity: 0.8;
}

.navbar__items{
  color: white !important;
}

/* 
.menu__link--active, .navbar__link--active, .table-of-contents__link--active, .pagination-nav__label, .markdown a{
  color: var(--ifm-color-primary) !important;
} */

.pagination-nav__link:hover {
  border-color: var(--ifm-color-primary) !important;;
}

.navbar__brand{
  height: 35px;
}

.navbar__toggle{
  color: white;
}

.markdown{
  margin-bottom: 20px;
}

.docusaurus-mt-lg{
  padding-top: 3rem;
}

.custom-item-in-nav{
  margin-right: 2rem;
}

.myalgo-logo-sidebar{
  height: 35px;
}